.center {
  text-align: center;
}

.form {
  width: 60%;
}

#todos-list {
  width: 60%;
  margin: auto;
}

.form-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
}

.icon {
  font-size: 20px !important;
  cursor: pointer;
}

.delete {
  border: none;
}

#msg {
  width: fit-content;
  padding: 2px 5px;
  height: 27px;
  margin: 1rem auto;
  text-align: center;
  /* visibility: visible; */
}